
.accordion-header .accordion-button {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #bb3434;
}

.accordion-button {
    color: #bb3434;
    padding: 10px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    font-weight: bold;
}

.favbutton {
    background-color: white;
    border: none;
    color: #bb3434;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #bb3434;
    border-radius: 50%;
}

.favbutton:hover {
    background-color: #bb3434;
    color: white;
    border: 1px solid #bb3434;
}

.card-detail {
    color:#bb3434;
    font-size: 16px;
    font-weight: bold;
}